fastapi
uvicorn
python-multipart
sentence-transformers
pillow
pytesseract
qdrant-client
rank-bm25
unstructured
unstructured-inference
pdf2image
pydantic
requests
pymupdf
numpy
whisper
torch
torchaudio
