fastapi
uvicorn
python-multipart
pydantic
requests

sentence-transformers
numpy

qdrant-client
rank-bm25

unstructured[pdf]
unstructured-inference
paddleocr
pytesseract
pillow

langgraph
python-dotenv
